<div class="ateliers-du-web ateliers-du-web-temoignages">
    <div class="container-fluid px-1 py-3 py-lg-4">
        <h3 class="ateliers-du-web-temoignages-title text-center mb-4" data-aos="fade-down" data-aos-duration="800">
            <i class="fa-solid fa-quote-left me-2" aria-hidden="true"></i>Témoignages
        </h3>
        <div class="row g-4">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="0" data-aos-duration="750">
                <article class="card ateliers-du-web-card ateliers-du-web-card-1 ateliers-du-web-testimonial h-100 border-0">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <img class="ateliers-du-web-avatar rounded-circle me-3"
                                 src="/uploads/ateliers/content/temoignages/fabien_lahutte.png"
                                 alt="Fabien Lahutte"
                                 width="80"
                                 height="80">
                            <div>
                                <h4 class="ateliers-du-web-name h5 mb-1">Fabien Lahutte</h4>
                                <p class="ateliers-du-web-role mb-0">Président de l’association Les Apis d’Or</p>
                            </div>
                        </div>
                        <p class="ateliers-du-web-stars mb-3" aria-label="5 étoiles sur 5">
                            <i class="fa-solid fa-star" aria-hidden="true"></i>
                            <i class="fa-solid fa-star" aria-hidden="true"></i>
                            <i class="fa-solid fa-star" aria-hidden="true"></i>
                            <i class="fa-solid fa-star" aria-hidden="true"></i>
                            <i class="fa-solid fa-star" aria-hidden="true"></i>
                        </p>
                        <blockquote class="ateliers-du-web-quote mb-0">
                            «&nbsp;Je suis resté bloqué quelques mois sur un site WordPress lorsque j’ai découvert les Ateliers du Web&nbsp;:
                            en trois ateliers, nous avons recréé les pages de mon site et mis en production.
                            Un grand merci à Tayeb, disponible quand c’est nécessaire.&nbsp;»
                        </blockquote>
                    </div>
                </article>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="120" data-aos-duration="750">
                <article class="card ateliers-du-web-card ateliers-du-web-card-2 ateliers-du-web-testimonial h-100 border-0">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <img class="ateliers-du-web-avatar rounded-circle me-3"
                                 src="/uploads/ateliers/content/temoignages/delphine_pelletier.png"
                                 alt="Delphine Pelletier-Mittenaere"
                                 width="80"
                                 height="80">
                            <div>
                                <h4 class="ateliers-du-web-name h5 mb-1">Delphine Pelletier-Mittenaere</h4>
                                <p class="ateliers-du-web-role mb-0">Présidente de l’association Jazzenville</p>
                            </div>
                        </div>
                        <p class="ateliers-du-web-stars mb-3" aria-label="5 étoiles sur 5">
                            <i class="fa-solid fa-star" aria-hidden="true"></i>
                            <i class="fa-solid fa-star" aria-hidden="true"></i>
                            <i class="fa-solid fa-star" aria-hidden="true"></i>
                            <i class="fa-solid fa-star" aria-hidden="true"></i>
                            <i class="fa-solid fa-star" aria-hidden="true"></i>
                        </p>
                        <blockquote class="ateliers-du-web-quote mb-0">
                            «&nbsp;Tayeb a repris un site développé initialement avec Wix, assez mal organisé et bourré de publicités.
                            Il a réalisé un site avec une newsletter qui nous permet d’annoncer nos concerts,
                            nous a formé à l’ajout de menus et de contenus… Super site et super atelier&nbsp;!&nbsp;»
                        </blockquote>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
